# Variáveis de ambiente
.env
.env.local
.env.production

# Dependências
node_modules/

# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Logs
*.log

# Build
dist/
# Local Netlify folder
.netlify
